In [4]:
import pandas as pd
import numpy as np
import h5py

In [2]:
dg = pd.read_hdf('train.h5', 'table')

In [3]:
dg = dg.drop_duplicates()

Sum up constituents before calculating pt

In [4]:
x = dg.to_numpy()

In [5]:
y_train = dg['is_signal_new'].to_numpy()

In [ ]:
dg['is_signal_new']

In [6]:
dg = dg.drop(['is_signal_new'], axis = 1)

In [7]:
dg = dg.drop(['ttv', 'truthE', 'truthPX', 'truthPY', 'truthPZ'], axis = 1)

In [8]:
x = dg.to_numpy()

In [13]:
dg

,E_0,PX_0,PY_0,PZ_0,E_1,PX_1,PY_1,PZ_1,E_2,PX_2,...,PY_197,PZ_197,E_198,PX_198,PY_198,PZ_198,E_199,PX_199,PY_199,PZ_199
375,474.071136,-250.347031,-223.651962,-334.738098,103.236237,-48.866222,-56.790775,-71.025490,105.255569,-55.415001,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
377,150.504532,120.062393,76.852005,-48.274265,82.257057,63.801739,42.754807,-29.454842,48.573559,36.763199,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
378,251.645386,10.427651,-147.573746,203.564880,104.147797,10.718256,-54.497948,88.101395,78.043213,5.724113,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
379,451.566132,129.885437,-99.066292,-420.984100,208.410919,59.033958,-46.177090,-194.467941,190.183304,54.069675,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
380,399.093903,-168.432083,-47.205597,-358.717438,273.691956,-121.926941,-30.803854,-243.088928,152.837219,-44.400204,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
587,206.171997,13.942102,114.328499,-171.001465,231.602356,19.010832,92.303848,-211.561432,95.868248,0.411594,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
591,263.984161,-40.649391,-104.321312,239.065552,238.690689,8.786323,-101.236137,215.979828,126.197868,5.939164,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
592,61.417538,42.901291,43.947723,-0.436818,45.521763,31.723654,32.643845,-0.469300,44.801167,29.730831,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
593,261.215302,12.780115,-132.699203,224.635300,224.066376,52.028233,-101.145271,193.050354,67.573616,17.166769,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
596,221.000015,-32.458290,-127.960335,-177.238876,109.126007,-16.046606,-62.676899,-87.878311,111.210052,0.395372,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [5]:
np.sqrt(250.347031**2 + 223.651962**2 + 334.738**2)

474.071054464375

In [11]:
y = np.zeros((1203637,4,50))
for j in range(1203637):
    for i in range(4):
        for p in range(0,200,4):
            y[j,i,np.int(p/4)] = x[j,p+i] +

In [14]:
y.shape

(1203637, 4, 50)

In [15]:
f = h5py.File('train5.h5', 'w')

In [16]:
f.create_dataset('table', data = y)

In [17]:
f.close

In [18]:
dg = pd.read_hdf('test.h5', 'table')

In [19]:
dg= df.drop_duplicates()

NameError: name 'df' is not defined

In [100]:
dg = df.drop(['is_signal_new'], axis = 1)

In [101]:
dg = df.drop(['ttv', 'truthE', 'truthPX', 'truthPY', 'truthPZ'], axis = 1)

In [21]:
x = dg.to_numpy()

In [22]:
x.shape

(404000, 806)

In [24]:
y = np.zeros((403205,4,50))
for j in range(403205):
    for i in range(4):
        for p in range(0,200,4):
            y[j,i,np.int(p/4)] = x[j,p+i]

In [28]:
f = h5py.File('test5.h5', 'w')

In [29]:
f.create_dataset('table', data = y)

In [30]:
f.close